<footer class="footer-container">
    <div id="footer-content">Thomas Nguyen Copyright © 2020. All Rights Reserved.
        <a class="anchor-buttons" id="email-link" href="mailto:tnguyen135@mail.sfsu.edu">
            <i class="fas fa-envelope"></i>Contact me
        </a>
    </div>
</footer>