<div class="form-container">
    <header>
        <h1>Registration Page</h1>
    </header>
    <form class="form" method="POST" action="/users/registration" enctype="application/x-www-form-urlencoded">
        <fieldset>
        <br>
        <label for="uname">Enter a username: </label>
        <input type="text" id="uname" name="username" required placeholder="Username">
        <br>
        <br>
        <label for="email">Enter an email address: </label>
        <input type="email" id="email" name="email" required placeholder="Email@Address">
        <br>
        <br>
        <label for="pword">Enter a password: </label>
        <input type="password" id="pword" name="password" required placeholder="Password">
        <br>
        <br>
        <label for="confirm pword">Confirm password: </label>
        <input type="password" id="confirm pword" name="confirm_pass" required placeholder="Password">
        <br>
        <br>
        <label for="verify age">Confirm that you are 13+ years of age: </label>
        <input type="checkbox" id="verify age" name="verify_age" required>
        <br>
        <br>
        <label for="TOS">Accept the
            <a href="#">TOS and Privacy Rules</a>:
        </label>
        <input type="checkbox" id="TOS" name="TOS_privacy" required>
        <br>
        <br>
        <label for="register"></label>
        <button type="submit" id="register" name="registration">Register Account</button>
        <label for="reset"></label>
        <button type="reset" id="reset" name="reset field">Reset</button>
        <br>
        </fieldset>
    </form>
</div>
